/* Estilo geral do site */
body{
  font-family: Arial;
  margin:0;
  background:#f4f4f4;
}

/* Cabeçalho */
header{
  background:green;
  color:white;
  padding:20px;
  text-align:center;
}

/* Conteúdo principal */
section{
  padding:20px;
}

/* Classe usada no modo escuro */
.dark{
  background:#222;
  color:white;
}

.galeria img{

  width:100%;

  max-width:350px;

  height:220px;

  object-fit:cover;

  border-radius:15px;

  box-shadow:0 0 15px rgba(0,0,0,0.3);

  transition:0.3s;
}